body{
    background-color: black;
}
header{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

nav > a{
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

nav {
    text-align: center;
    padding: 15px;
}

.font1 {
    color: white;
    padding: 15px;
}

div.font1{
    text-align: center;
    font-weight: 300;
    font-size: 42px;
    padding: 15px;
}

.mobile-phone{
    text-align: center;
}
video {
    text-align: center;
}

img.camp{
    width: 35%;
    padding: 15px;
}

figcaption{
    text-align: center;
    font-size: 21px;
    color: gray;
    padding: 15px;
}

figure {
    text-align: center;
}

footer{
    color: gray;
    text-align: right;
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.font2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}