body{
    background-color: black;
}
header{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

nav > a{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    text-align: center;
}

nav {
    text-align: center;
    padding: 15px;
}

.font1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 15px;
}

section.font1{
    text-align: center;
    font-weight: 300;
    font-size: 42px;
    padding: 15px;
}

.mobile-phone{
    text-align: center;
}
video {
    text-align: center;
}

img.camp{
    width: 35%;
    padding: 15px;
}

figcaption{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    padding: 15px;
}

figure {
    text-align: center;
}